<section>
    <div class="header">
        <a [routerLink]="['/dash']" class="logo">Cart Items</a>
        <div class="header-right">
    
          <a [routerLink]="['/list']" class="logo">list</a>
        </div>
    
      </div>
      <h1 align="center">
        Total ordered list 
      </h1>

 

<section><body class="justify-content-center" >
  <div class="bg-primary py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-8 my-3">
          <h1 class="display-4 text-white text-md-left text-center">Samsung Note 9  &nbsp; &nbsp; &nbsp; <img src="../assets/img/sam-9.jpg" width="100" > 
       </h1> </div>
        <div class="col-md-4  text-center align-self-center">
        <h1>{{id}} *{{w}} ={{m}}</h1>
        </div>
      </div>
    </div>
  </div>
  &nbsp;
  <div class="bg-primary py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-8 my-3">
          <h1 class="display-4 text-white text-md-left text-center">POCO F1  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
            <img src="../assets/img/poco.jpg" width="100" >
          </h1>
        </div>
        <div class="col-md-4  text-center align-self-center">
            <h1>{{id1}} *{{w1}} ={{m1}}</h1>
        </div>
      </div>
    </div>
  </div>
  &nbsp;
  <div class="bg-primary py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-8 my-3">
          <h1 class="display-4 text-white text-md-left text-center">1+6 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
              &nbsp; &nbsp; &nbsp; &nbsp; 
            <img src="../assets/img/oneplus.jpg" width="100" >
          </h1>
        </div>
        <div class="col-md-4  text-center align-self-center">
            <h1>{{id2}} *{{w2}} ={{m2}}</h1>
        </div>
      </div>
    </div>
  </div>
 </body>

</section>
</section>