<section>
    <div class="header">
        <a [routerLink]="['/dash']" class="logo">Cart Items</a>
        <div class="header-right">
    
          <a [routerLink]="['/list']" class="logo">list</a>
        </div>
    
      </div>
      <!--
<div id="demo" class="carousel slide" data-ride="carousel">
        <ul class="carousel-indicators">
          <li data-target="#demo" data-slide-to="0" class="active"></li>
          <li data-target="#demo" data-slide-to="1"></li>
          <li data-target="#demo" data-slide-to="2"></li>
        </ul>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="../assets/img/oneplus.jpg" alt="Los Angeles" >
            <div class="carousel-caption">
              <h3>ONE PLUS 6</h3>
              <p>LOWER RATE FOR HIGH SPEC</p>
            </div>   
          </div>
          <div class="carousel-item">
            <img src="../assets/img/poco.jpg" alt="Chicago" >
            <div class="carousel-caption">
              <h3>POCO</h3>
              <p>POWERFULL SMART PHONE</p>
            </div>   
          </div>
          <div class="carousel-item">
            <img src="../assets/img/sam-9.jpg" alt="New York" >
            <div class="carousel-caption">
              <h3>SAMSUNG NOTE 9</h3>
              <p>BEST DESIGN AND BEST CAMERA</p>
            </div>   
          </div>
        </div>
        <a class="carousel-control-prev" href="#demo" data-slide="prev">
          <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#demo" data-slide="next">
          <span class="carousel-control-next-icon"></span>
        </a>
      </div>
      
    -->
  

<div class="card card-1">
  <h3> Samsung note</h3>
  <img class="image" src="../assets/img/sam-9.jpg" alt="samsung note">
  <a [routerLink]="['/cart']">
  <input type="button" value="order" class="conform" />
</a>
</div>
<div class="card card-2">
    <h3> POCO</h3>
    <img class="image" src="../assets/img/poco.jpg" alt="poco">
    <a [routerLink]="['/pococart']">
    <input type="button" value="order" class="conform" /></a>
</div>
<div class="card card-3">
    <h3> One Plus 6</h3>
    <img class="image" src="../assets/img/oneplus.jpg" alt="1+">
    <a [routerLink]="['/onepluscart']">
    <input type="button" value="order" class="conform" /></a>
</div>



</section>